.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  
.menu-container {
display: flex;
align-items: center;
}

.search-bar {
margin-top: 25px;
margin-left: auto;
}

.title{
    text-align: center;
}

.ant-layout-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #001529;
  color: white;
  padding: 10px; 
}

.button-style {
  background-color: #001529;
  border-color: #001529;
  color: white;
  margin-right: 3em;
  width: 10em;
  height: 3em;
  font-size: 18px; 
}


.cancel-container {
  border: 1px solid #001529;
  padding: 20px; 
  margin: 3em auto 0; 
  width: 80%; 
  max-width: 60em; 
  box-sizing: border-box; 
  border-radius: 10px;
  height: 25em;
}
.back-container{ 
  margin: 3em auto 0; 
  width: 80%; 
  max-width: 60em; 
  box-sizing: border-box; 

}
.reserve-container {
  background-color: #001529; 
  border: 1px solid #001529;
  padding: 10px; 
  margin: 1em auto 0; 
  width: 80%; 
  max-width: 10em; 
  box-sizing: border-box; 
  border-radius: 10px;
  text-align: center;
  color: white;
}

.screen-box {
  background-color: #001529; 
  border: 1px solid #001529;
  margin-top: 1em;
  padding: 1px; 
  width: 100%; 
  max-width: 30em; 
  box-sizing: border-box; 
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-left: 5em;
}
.info-box {
  margin-left: 45em;
  border-left: 1px solid gray;
  padding-left: 10px; 
}

